svg {
    display: block;
    margin: auto;
/*    width: 800px;
    height: 600px;*/
}

body {
    font-family: "Arial", sans-serif;
}

.bar {
    /*fill: #5f89ad;*/
}

.bar-2 {
    stroke: #fff;
    stroke-width: 1;
}

.axis {
    font-size: 13px;
}

.axis path,
.axis line {
    fill: none;
    display: none;
}

.label {
    font-size: 13px;
}

line {
    stroke: #000;
    stroke-width: 1;
}

button {
    display: none;
    margin: auto;
}

#info {
    text-align: center;
}

#header {
    font-weight: bold;
}

#subheader {
    font-size: 10px;
}
